<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Norris</a>
    <ul id="nav-item" class="right hide-on-med-and-down">
      <li><a href="#">Latest Stories</a></li>
      <li><a href="#">Product Updates</a></li>
      <li><a href="#">Company News</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img alt="" src="https://materializecss.com/images/office.jpg"/>
      </div>
      <img class="circle" alt="" src="https://materializecss.com/images/office.jpg"/>
      <span class="white-text name">xufei</span>
      <span class="white-text email">xxx</span>
    </div>
  </li>
  <li><a href="#">First link</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
