<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">The Keyword</a>
    <ul id="nav-item" class="right hide-on-med-and-down">
      <li><a href="#">Latest Stories</a></li>
      <li><a href="#">Product Updates</a></li>
      <li><a href="#">Company News</a></li>
    </ul>
  </div>
</nav>
