<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img alt="" src="https://materializecss.com/images/office.jpg"/>
      </div>
      <img class="circle" alt="" src="https://materializecss.com/images/office.jpg"/>
      <span class="white-text name">xufei</span>
      <span class="white-text email">xxx</span>
    </div>
  </li>
  <li><a href="#">First link</a></li>
</ul>
