<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag 'nav.jpg' %>
      </div>
      <%= image_tag 'me.jpg', class: 'circle' %>
      <span class="white-text name">Nor</span>
      <span class="white-text email">xufei1990@gmail.com</span>
    </div>
  </li>
  <li><%= link_to '首页', posts_path, id: 'home-page-link', data: { turbolinks: false } %></li>
  <li><%= link_to '书单', books_path, id: 'book-list-link', data: { turbolinks: false } %></li>
  <li><a href="javascript:void">简历</a></li>
  <li><a href="javascript:void">关于</a></li>
</ul>
