#blue-space {
  width: 100%;
}

#blue_space_chat_room {
  position: absolute;
  bottom: 140px;
  border-bottom: #60ff00 1px solid;

  overflow-y: auto;

  .bubble {
    color: #60ff00;
    display: block;
    line-height: 40px;
    font-size: 16px;
    p {
      margin: 0;
    }
  }
}

#blue_space_input_box {
  position: absolute;
  bottom: 60px;
  color: #60ff00;
  input {
    border-bottom-color: transparent;
    color: #60ff00;
  }
  input:focus {
    border: none;
  }
}
