#blue-space {
  width: 100%;
}

#blue_space_chat_room {
  position: fixed;
  border: #60ff00 1px solid;
  height: 100%;

  overflow-y: auto;

  .bubble {
    border: #fff 1px solid;
    color: #60ff00;
    display: block;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    p {
      margin: 0;
    }
  }
}
