<div id="post-author-container" class="post-author-container">
  <div id="post-author" class="post-author">
    <div class="row">
      <div class="col s2">
        <%= image_tag 'me', class: 'circle avatar' %>
      </div>
      <div class="col s10 info">
        <div class="name">Nor</div>
        <div class="time"><%= post.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %></div>
      </div>
    </div>
  </div>
</div>
