<div id="post-content-container" class="post-content-container col s12 m8 offset-m1 xl7 offset-xl1">
  <div id="post-content" class="post-content">
    <%= markdown_to_html post.content %>
  </div>
</div>
