<% if post.org? %>
  <% content = org_to_html post.content %>
<% else %>
  <% content = markdown_to_html post.content %>
<% end %>

<div class="row container">
  <div class="col s12 m12 xl10 offset-xl1">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><%= link_to post.title, post, class: "grey-text text-darken-3", data: { turbolinks: false } %></span>
        <span class="grey-text text-darken-1"><%= content_preview(content) %></span>
      </div>
      <div class="card-action">
        <span class="grey-text text-darken-1"><%= post.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %></span>
        <%= link_to '阅读更多', post, data: { turbolinks: false }, class: 'read-more-link' %>
      </div>
    </div>
  </div>
</div>
