<div class="fixed-action-btn">
  <a class="btn-floating btn-large black">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li class="tags-li">
      <a class="btn-floating grey">Python</a>
      <span class="btn-floating tags-count">3</span>
    </li>
     <li class="tags-li"><a class="btn-floating grey">Ruby</a></li>
     <span class="btn-floating tags-count">3</span>
  </ul>
</div>
