<div class="row">

<div style="display: inline-block;position: absolute; top: 20px; width: 300px;padding-left: 20px;">

<p style="font-size: 60px; line-height: 70px">许飞</p>
<p style="font-size: 12px; line-height: 1px; position: relative; top: -60px">Phone: 15510970385</p>
<p style="font-size: 12px; position: relative; top: -60px">Email: xufei@gmail.com</p>
</div>

<div style="width: 50%; display: inline-block; margin-left: 350px">

<blockquote>
学历：本科/天津大学 硕士/天津大学

专业：测控技术与仪器
技术博客：<a href="http://niltouch.cn" style="color: blue">niltouch.cn</a>
Github：<a href="https://github.com/xufeisofly" style="color: blue">github.com/xufeisofly</a>
期望职位：后端开发工程师 
</blockquote>

</div>

</div>




### 个人技能


- 近两年Ruby开发经验，熟悉MVC开发模式，热爱TDD。
- 一年前端开发经验（Vue，JQuery）
- 一年数据仓库开发经验，熟练掌握ETL脚本和SQL
- 一年项目负责人经验，三个月团队管理经验，熟悉scrum敏捷开发流程
- 热爱整洁的代码和重构，崇尚黑客信条
- Plus: 精通硬件原理和嵌入式编程，马拉松爱好者

### 项目经历

**基于Rails和Vue框架的交易跟踪系统开发** (2017年12月-至今)

- 独立负责系统搭建、维护和开发任务，后期带领一个5人团队。
- 利用webhook，sidekiq和redis实现系统间数据的异步同步和缓存。
- 实现Jwt单点登录，websocket消息等功能支持，前端使用Vuex实现数据管理。
- 采用TDD进行开发，测试覆盖率保持90%以上（基于RSpec）。

**基于MySQL的OLAP数据库构建和etl项目开发** (2017年9月-至今)

- 使用ruby和SQL进行etl脚本编写，实现OLTP到OLAP的高效转换

**Rails后台系统全栈开发** (2017年7月-2017年12月)

- 使用elasticsearch实现历史旅游路线数据搜索


<div>
<h3>工作经历</h3>
<span>
<li><strong>2017年6月-至今：北京无二之旅科技有限公司</strong>  |  全栈工程师</li>
<li><strong>2016年3月-2017年6月：华为技术有限公司</strong>  |  单板硬件工程师</li>
</span>
</div>

<div>
<h3>个人项目</h2>
<span>
<li><strong>organismo:</strong> 一个org mode转html的ruby gem包 
<a href="https://github.com/xufeisofly/organismo" style="color: blue">github.com/xufeisofly/organismo</a></li>

<li><strong>simple_generator:</strong> 模拟RailsGenerator <a href="https://github.com/xufeisofly/simple_generator" style="color: blue">github.com/xufeisofly/simple_generator</a></li>
<li><strong>XBCampus:</strong> 自建的一个招聘网站，内含一个PWA页面 <a href="https://github.com/xufeisofly/XBCampus" style="color: blue">github.com/xufeisofly/XBCampus</a></li>

</span>
</div>




