



<div class="row">

<div style="display: inline-block;position: absolute; top: 20px; width: 300px;padding-left: 20px;">

<p style="font-size: 60px; line-height: 70px">许飞</p>
<p style="font-size: 12px; line-height: 1px; position: relative; top: -60px">Phone: 15510970385</p>
<p style="font-size: 12px; position: relative; top: -60px">Email: xufei@gmail.com</p>
</div>

<div style="width: 50%; display: inline-block; margin-left: 350px">

<blockquote>
学历：本科/天津大学 硕士/天津大学

专业：测控技术与仪器
技术博客：<a href="http://118.89.236.14" style="color: blue" target="_blank">niltouch.cn</a>
Github：<a href="https://github.com/xufeisofly" style="color: blue" target="_blank">github.com/xufeisofly</a>
期望职位：后端开发工程师 
</blockquote>

</div>

</div>




### 个人评价


- 近两年Ruby开发经验，熟悉MVC开发模式，热爱TDD。
- 一年前端开发经验（Vue，JQuery）
- 五个月项目负责人经验，熟悉scrum敏捷开发流程
- 热爱整洁的代码和重构，崇尚黑客信条
- Plus: 精通硬件原理和嵌入式编程，马拉松爱好者

### 项目经历

**基于Rails和Vue框架的交易跟踪系统开发** (2017年12月-至今)

- 利用webhook，sidekiq和redis实现系统间数据的异步同步和缓存等功能。
- 实现JWT单点登录，websocket消息等功能的支持，前端使用Vuex实现数据管理。
- 采用TDD进行开发，测试覆盖率保持90%以上（基于RSpec）。

**基于MySQL的OLAP数据库构建和etl项目开发** (2017年9月-至今)

- 使用ruby和SQL编写ETL，实现OLTP到OLAP的高效转换

**Rails后台系统全栈开发** (2017年7月-2017年12月)

- 使用elasticsearch实现历史旅游路线数据匹配


<div>
<h3>工作经历</h3>
<span>
<li><strong>2017年6月-至今：北京无二之旅科技有限公司</strong>  |  全栈工程师</li>
<li><strong>2016年3月-2017年6月：华为技术有限公司</strong>  |  单板硬件工程师</li>
</span>
</div>

<div>
<h3>个人项目</h2>
<span>
<li><strong>organismo:</strong> 一个org mode转html的ruby gem包 
<a href="https://github.com/xufeisofly/organismo" style="color: blue" target="_blank">github.com/xufeisofly/organismo</a></li>

<li><strong>simple_generator:</strong> 模拟RailsGenerator <a href="https://github.com/xufeisofly/simple_generator" style="color: blue" target="_blank">github.com/xufeisofly/simple_generator</a></li>
<li><strong>niltouch:</strong> 个人技术博客 <a href="https://github.com/xufeisofly/norris" style="color: blue" target="_blank">github.com/xufeisofly/norris</a></li>
<li><strong>XBCampus:</strong> 自建的一个招聘网站，内含一个PWA页面 <a href="https://github.com/xufeisofly/XBCampus" style="color: blue" target="_blank">github.com/xufeisofly/XBCampus</a></li>
<li><strong>Saliva:</strong> 自建的一个外卖网站 <a href="https://bitbucket.org/xufeisofly/saliva_v1_app" style="color: blue" target="_blank">bitbucket.org/xufeisofly/saliva_v1_app</a></li>
</span>
</div>




