<div class="container post-show-container">
  <div class="row">
    <div class="col s12 m8 xl7 offset-m2 offset-xl3">
      <%= render partial: 'post_title', locals: { post: @post } %>
      <%= render partial: 'post_author', locals: { post: @post } %>
      <div class="divider"></div>
      <%#= render partial: 'post_title_img', locals: { post: @post } %>
      <%= render partial: 'post_content', locals: { post: @post } %>    
    </div>
  </div>
</div>
