<div class="container post-show-container">
  <div class="row">
    <%= render partial: 'post_title', locals: { post: @post } %>
    <%= render partial: 'post_author', locals: { post: @post } %>
    <%#= render partial: 'post_title_img', locals: { post: @post } %>
    <%= render partial: 'post_content', locals: { post: @post } %>  
  </div>
</div>
