<div class="container">
  <%= render partial: 'post_title', locals: { post: @post } %>
  <%= render partial: 'post_title_img', locals: { post: @post } %>
  <%= render partial: 'post_content', locals: { post: @post } %>
</div>
