// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-create-container {
  padding: 15% 10%;
}
.post-show-container {
  padding: 0 20px;
}
.post-show {
  /* min-width: 930px; */
}
.post-title-container {
  .post-title {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
  }
  margin-bottom: 50px;
}
.post-author-container {
  .avatar {
    height: 64px;
    width: 64px;
  }
  .info {
    margin-top: 5px;
  }
}
.banner {
  h1 {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-top: 50px;
    font-size: 64px;
    font-weight: 700;
  }
  img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 450px;
    left: 66.6%;
  }
  line-height: 40px;
}
.posts-container {
  margin: 50px auto;
}

.card-title {
  font-weight: 500 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 30px !important;
  margin-bottom: 20px !important;
}

.card-content {
  line-height: 32px;
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
}

.card-action {
  .read-more-link {
    float: right;
  }
}

.post-tags {
  display: inline-block;
  margin-left: 10px;
  .chip {
    margin-bottom: 0;
  }
}

.show-divider {
  margin-top: 10px;
}

.post-interface {
  .readers-num {
    color: #9EABB3;
  }
}

.tags-count {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
  position: relative;
  top: -50px;
  left: 15px;
}

.tags-li {
  margin-bottom: 0 !important;
}

#post-comments {
  .count-num {
    color: #9EABB3;
  }
  .button_to {
    margin: 20px 10px 20px 0 !important;
    display: inline-block;
  }
}

.post-content {
  img {
    width: 100%;
  }
}
