<div id="blue-space" class="row">
  <div id="blue_space_chat_room" class="col l6 push-l3 s12">
    <div id="bubble-1" class="bubble">
      <p>全都是垃圾</p>
    </div>
    <div id="bubble-2" class="bubble">
      <p>全都fsdfds垃圾</p>
    </div>
    <div id="bubble-20" class="bubble">
      <p>全都-----s垃圾</p>
    </div>
  </div>
</div>

