<div id="blue-space" class="row">
  <div id="blue_space_chat_room" class="col l6 push-l3 s12">
    <div class="bubble">
      <p>111</p>
    </div>
    <% 10.times do %>
      <div class="bubble">
        <p>全都是垃圾</p>
      </div>
      <div class="bubble">
        <p>全都fsdfds垃圾</p>
      </div>
    <% end %>
  </div>
</div>

