<div id="blue-space" class="row">
  <div id="blue_space_chat_room" class="col l6 push-l3 s12">
    <% @game.logs.each do |log| %>
      <div class="bubble">
        <p><%= log.conversation_content %></p>
      </div>
    <% end %>
  </div>

  <div id="blue_space_input_box" class="col l6 push-l3 s12 cursor">
    <%= form_tag answer_games_blue_space_path(@game, format: :json), method: :put, remote: true do %>
      <%= text_field_tag :content, nil, autocomplete: 'off' %>
      <input type="submit" style="visibility:hidden;position:absolute"/>
    <% end %>
  </div>
</div>
